.btn {
  padding: 7px 25px;
  border-radius: 5px;
  background: #f76e11;
  color: #fff;
  font-size: 0.9rem;
  margin-top: 30px;
  transition: .5s;
}
.btn:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #f76e11;
}
