.footer {
  padding-bottom: 0;
}
.footer__link-title {
  color: #fff;
}
.link__item {
  color: #c4c4c4;
  padding-left: 0;
  background: transparent;
}
.link__item a {
  color: #c4c4c4;
}
.footer__bottom {
  background: #141124;
  padding: 10px 0px;
  text-align: center;
  margin-top: 50px;
}
.footer__bottom p {
  font-size: 0.9rem;
  margin-bottom: 0;
}
